{% extends 'base.html' %}

{% block title %}Blog - Últimas notícias{% endblock %}

{% block jumbotron %}
      <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
          <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what's most interesting in this post's contents.</p>
          <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
        </div>
      </div>
{% endblock %}

{% block content %}
    <div class="row mb-2">
    {% if user.is_authenticated %}
      {% if user.is_writer%}
      <a href="{% url 'articles:write' %}">Escrever</a>
      {% endif %}
    {% endif %}
    {% for article in article_list %}
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <!--<strong class="d-inline-block mb-2 text-primary">Games</strong>-->
              <h3 class="mb-0">
                <a class="text-dark" href="{{ article.get_absolute_url }}">{{ article.title|linebreaks|truncatewords:12  }}</a>
              </h3>
              <div class="mb-1 text-muted">{{ article.created }}</div>
              <p class="card-text mb-auto">{{ article.resume|linebreaks|truncatewords:5 }}</p>
            </div>
            {% if article.thumbnail %}
                <img class="card-img-right flex-auto d-none d-md-block thumbnail" src="/media/{{article.thumbnail}}" alt="Card image cap">
            {% else %}
                <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Card image cap">
            {% endif %}
          </div>
        </div>
    {% endfor %}
    </div>
    {% if is_paginated %}
      {% include "pagination.html" with page=page_obj %}
    {% endif %}

{% endblock %}

